In [18]:
import pandas as pd

In [19]:
knowledge_div_df = pd.read_csv('data/knowledge_div via entropy.csv')
knowledge_div_df

/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_64981/2352064664.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  knowledge_div_df = pd.read_csv('data/knowledge_div via entropy.csv')

        citing_patent_id  entropy_score
0               10000000       1.039721
1               10000001      -0.000000
2               10000002       1.627269
3               10000003       0.881594
4               10000004       0.997282
...                  ...            ...
7738356          RE50353       1.050309
7738357          RE50354       1.126929
7738358          RE50355       1.465029
7738359          RE50356       1.634369
7738360          RE50357       1.235145

[7738361 rows x 2 columns]

In [20]:
main_df = pd.read_csv('./data/patents_innovation_measures_no_knowledge_diversity.csv')
main_df

/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_64981/790933186.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  main_df = pd.read_csv('./data/patents_innovation_measures_no_knowledge_diversity.csv')

,patent_id,atypicality_score,tech_leap_score,fwd_citation_impact_score
0,10000000,NaN,0.500000,18.195203
1,10000001,8.984207,0.500000,NaN
2,10000002,8.375340,0.666667,NaN
3,10000003,6.990229,0.600000,1.386294
4,10000004,6.239670,0.666667,NaN
...,...,...,...,...
7507814,RE50254,NaN,NaN,NaN
7507815,RE50255,NaN,NaN,NaN
7507816,RE50256,NaN,NaN,NaN
7507817,RE50257,NaN,NaN,NaN
7507818,RE50258,NaN,NaN,NaN

In [27]:
knowledge_div_df['citing_patent_id'].duplicated().sum()

13

In [22]:
main_df['patent_id'].duplicated().sum()

0

In [23]:
main_df = main_df.merge(knowledge_div_df, left_on='patent_id', right_on='citing_patent_id', how='left')
main_df = main_df.drop(columns=['citing_patent_id'])
main_df

,patent_id,atypicality_score,tech_leap_score,fwd_citation_impact_score,entropy_score
0,10000000,NaN,0.500000,18.195203,1.039721
1,10000001,8.984207,0.500000,NaN,-0.000000
2,10000002,8.375340,0.666667,NaN,1.627269
3,10000003,6.990229,0.600000,1.386294,0.881594
4,10000004,6.239670,0.666667,NaN,0.997282
...,...,...,...,...,...
7507826,RE50254,NaN,NaN,NaN,NaN
7507827,RE50255,NaN,NaN,NaN,1.329977
7507828,RE50256,NaN,NaN,NaN,NaN
7507829,RE50257,NaN,NaN,NaN,NaN
7507830,RE50258,NaN,NaN,NaN,-0.000000

In [24]:
main_df.to_csv('./data/patents_innovation_measures.csv', index=False)

In [26]:
main_df['atypicality_score'].describe()

count    4.056178e+06
mean     8.093602e+00
std      1.987437e+00
min      4.489449e+00
25%      6.627396e+00
50%      8.040293e+00
75%      9.427694e+00
max      1.649518e+01
Name: atypicality_score, dtype: float64