In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/raw/firm_ids_and_cities.csv', encoding='latin1')
df

,cnpj_cei,city_code,end_logradouro,city,year
0,2.460658e+12,110002.0,"RODOVIA BR 364, KM 523,5 .","Ariquemes, Rondônia",2003
1,8.464388e+13,110002.0,AV JARU S/N,"Ariquemes, Rondônia",2003
2,3.477327e+13,110002.0,AV RIO NEGRO 2260,"Ariquemes, Rondônia",2003
3,8.462377e+13,110002.0,RUA A COM RODOVIA BR 421 CAIXA POSTAL 135,"Ariquemes, Rondônia",2003
4,2.286109e+13,110002.0,RODOVIA RO 01 KM 01 1 KM 01,"Ariquemes, Rondônia",2003
...,...,...,...,...,...
549077,1.609919e+13,530010.0,ST CLN 207,"Brasília, Distrito Federal",2017
549078,7.420040e+13,530010.0,TRECHO,"Brasília, Distrito Federal",2017
549079,6.088486e+13,530010.0,SHC SUL QMSW,"Brasília, Distrito Federal",2017
549080,6.088486e+13,530010.0,ST SHI SUL,"Brasília, Distrito Federal",2017
549081,9.274199e+13,530010.0,AV. CENTRAL,"Brasília, Distrito Federal",2017

In [3]:
import gc
import os

In [7]:
estb_path = '/Users/koacow/BOSTON UNIVERSITY Dropbox/Ngoc Duy Khoa Cao/Climate Risk and Labor Market/RAIS data/firms and cities/estb/treated'

merged_df = None
for f in sorted(os.listdir(estb_path)):
    if f.startswith('estb_2') and f.endswith('.csv'):
        temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
        temp_df = pd.merge(temp_df, df, how='inner', on=['cnpj_cei', 'year'])
        if merged_df is None:
            merged_df = temp_df
        else:
            merged_df = pd.concat([merged_df, temp_df], ignore_index=True)
        del temp_df
        gc.collect()

merged_df

/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/3619597059.py:6: DtypeWarning: Columns (0,1,3,6,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/3619597059.py:6: DtypeWarning: Columns (0,3,5,6,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/3619597059.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  merged_df = pd.concat([merged_df, temp_df], ignore_index=True)
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/3619597059.py:6: DtypeWarning: Columns (0,1,3,5,6,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/3619597059.py:6: DtypeWarning: Columns (0,3,5,6,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/3619597059.py:6: DtypeWarning: Columns (3,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/3619597059.py:6: DtypeWarning: Columns (0,1,3,5,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/3619597059.py:6: DtypeWarning: Columns (3,5,7,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/3619597059.py:6: DtypeWarning: Columns (1,3,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/3619597059.py:6: DtypeWarning: Columns (6,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/3619597059.py:6: DtypeWarning: Columns (6,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/3619597059.py:6: DtypeWarning: Columns (6,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/3619597059.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')

,cei_vinc,cep,cnae1_classe,cnpj_cei,cnpj_raiz,dataabertura,databaixa,dataencerramento,email,indcei_vinc,...,treatment_count,city_code,end_logradouro_y,city,indatividade_ano,cnae2_classe,cnae2_subclasse,end_numero,end_bairro,uf
0,0,2461000.0,45330.0,118000110,118.0,1994-06-30,NaN,NaN,,0.0,...,0,355030.0,RUA COPACABANA 153,"São Paulo, São Paulo",NaN,NaN,NaN,NaN,NaN,NaN
1,0,6803000.0,52450.0,518000125,518.0,NaN,NaN,NaN,KLAN@HOTMAIL.COM,0.0,...,0,351500.0,AV ELIAS YASBEK 1790 LJ 10,"Embu das Artes, São Paulo",NaN,NaN,NaN,NaN,NaN,NaN
2,0,71200010.0,50105.0,885000129,885.0,NaN,NaN,NaN,MPEREIRA@BRASALPAR.COM.BR,0.0,...,0,530010.0,SIA SUL QUADRA 01 555 TRECHO 01,"Brasília, Distrito Federal",NaN,NaN,NaN,NaN,NaN,NaN
3,0,75001970.0,85324.0,935000178,935.0,NaN,NaN,NaN,,0.0,...,0,520110.0,RUA EURIPEDES G MELO QD 09 LT 11 .,"Anápolis, Goiás",NaN,NaN,NaN,NaN,NaN,NaN
4,0,70610901.0,22179.0,1172000180,1172.0,NaN,NaN,NaN,,0.0,...,0,530010.0,SIG QUADRA 2 LOTE 340 BLOCO 2 .,"Brasília, Distrito Federal",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482244,0,70852500,45217.0,16099194000407,16099194.0,2014-07-22,NaN,NaN,EDNO.RH@ELETRODATAENGENHARIA.COM.BR,0.0,...,0,530010.0,ST CLN 207,"Brasília, Distrito Federal",1.0,41204.0,4120400.0,1,ASA NORTE,53.0
482245,0,72549515,51535.0,74200403000200,74200403.0,2002-03-06,NaN,NaN,NOVACASA@NOVACASADISTRIBUIDORA.COM.BR,0.0,...,0,530010.0,TRECHO,"Brasília, Distrito Federal",1.0,46796.0,4679699.0,5,SANTA MARIA,53.0
482246,0,70673633,85111.0,60884855001983,60884855.0,2013-11-26,NaN,NaN,SANTINO.ORSI@REDEIMPAR.COM.BR,0.0,...,0,530010.0,SHC SUL QMSW,"Brasília, Distrito Federal",1.0,86101.0,8610101.0,0,SUDOESTE,53.0
482247,0,71635580,85111.0,60884855002289,60884855.0,2013-11-26,NaN,NaN,SANTINO.ORSI@REDEIMPAR.COM.BR,0.0,...,0,530010.0,ST SHI SUL,"Brasília, Distrito Federal",1.0,86101.0,8610101.0,15,LAGO SUL,53.0
482248,0,71710575,80209.0,92741990003403,92741990.0,1970-07-06,NaN,NaN,RECURSOSHUMANOS@LASALLE.ORG.BR,0.0,...,0,530010.0,AV. CENTRAL,"Brasília, Distrito Federal",1.0,85201.0,8520100.0,11,CENTRO,53.0

In [ ]:
merged_df['vinculos_ativos'].describe()

count    482249.000000
mean        344.805474
std         610.953910
min         100.000000
25%         129.000000
50%         184.000000
75%         327.000000
max       97341.000000
Name: vinculos_ativos, dtype: float64

In [9]:
large_companies_df = None

for f in sorted(os.listdir(estb_path)):
    if f.startswith('estb_2') and f.endswith('.csv'):
        temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
        temp_df = pd.merge(temp_df, df, how='inner', on=['cnpj_cei', 'year'])
        temp_df = temp_df[temp_df['vinculos_ativos'] >= 100]
        if large_companies_df is None:
            large_companies_df = temp_df
        else:
            large_companies_df = pd.concat([large_companies_df, temp_df], ignore_index=True)
        del temp_df
        gc.collect()

large_companies_df

/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/278708781.py:5: DtypeWarning: Columns (0,1,3,6,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/278708781.py:5: DtypeWarning: Columns (0,3,5,6,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/278708781.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  large_companies_df = pd.concat([large_companies_df, temp_df], ignore_index=True)
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/278708781.py:5: DtypeWarning: Columns (0,1,3,5,6,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/278708781.py:5: DtypeWarning: Columns (0,3,5,6,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/278708781.py:5: DtypeWarning: Columns (3,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/278708781.py:5: DtypeWarning: Columns (0,1,3,5,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/278708781.py:5: DtypeWarning: Columns (3,5,7,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/278708781.py:5: DtypeWarning: Columns (1,3,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/278708781.py:5: DtypeWarning: Columns (6,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/278708781.py:5: DtypeWarning: Columns (6,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/278708781.py:5: DtypeWarning: Columns (6,16) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')
/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_6727/278708781.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(os.path.join(estb_path, f), encoding='latin1')

,cei_vinc,cep,cnae1_classe,cnpj_cei,cnpj_raiz,dataabertura,databaixa,dataencerramento,email,indcei_vinc,...,treatment_count,city_code,end_logradouro_y,city,indatividade_ano,cnae2_classe,cnae2_subclasse,end_numero,end_bairro,uf
0,0,2461000.0,45330.0,118000110,118.0,1994-06-30,NaN,NaN,,0.0,...,0,355030.0,RUA COPACABANA 153,"São Paulo, São Paulo",NaN,NaN,NaN,NaN,NaN,NaN
1,0,6803000.0,52450.0,518000125,518.0,NaN,NaN,NaN,KLAN@HOTMAIL.COM,0.0,...,0,351500.0,AV ELIAS YASBEK 1790 LJ 10,"Embu das Artes, São Paulo",NaN,NaN,NaN,NaN,NaN,NaN
2,0,71200010.0,50105.0,885000129,885.0,NaN,NaN,NaN,MPEREIRA@BRASALPAR.COM.BR,0.0,...,0,530010.0,SIA SUL QUADRA 01 555 TRECHO 01,"Brasília, Distrito Federal",NaN,NaN,NaN,NaN,NaN,NaN
3,0,75001970.0,85324.0,935000178,935.0,NaN,NaN,NaN,,0.0,...,0,520110.0,RUA EURIPEDES G MELO QD 09 LT 11 .,"Anápolis, Goiás",NaN,NaN,NaN,NaN,NaN,NaN
4,0,70610901.0,22179.0,1172000180,1172.0,NaN,NaN,NaN,,0.0,...,0,530010.0,SIG QUADRA 2 LOTE 340 BLOCO 2 .,"Brasília, Distrito Federal",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482244,0,70852500,45217.0,16099194000407,16099194.0,2014-07-22,NaN,NaN,EDNO.RH@ELETRODATAENGENHARIA.COM.BR,0.0,...,0,530010.0,ST CLN 207,"Brasília, Distrito Federal",1.0,41204.0,4120400.0,1,ASA NORTE,53.0
482245,0,72549515,51535.0,74200403000200,74200403.0,2002-03-06,NaN,NaN,NOVACASA@NOVACASADISTRIBUIDORA.COM.BR,0.0,...,0,530010.0,TRECHO,"Brasília, Distrito Federal",1.0,46796.0,4679699.0,5,SANTA MARIA,53.0
482246,0,70673633,85111.0,60884855001983,60884855.0,2013-11-26,NaN,NaN,SANTINO.ORSI@REDEIMPAR.COM.BR,0.0,...,0,530010.0,SHC SUL QMSW,"Brasília, Distrito Federal",1.0,86101.0,8610101.0,0,SUDOESTE,53.0
482247,0,71635580,85111.0,60884855002289,60884855.0,2013-11-26,NaN,NaN,SANTINO.ORSI@REDEIMPAR.COM.BR,0.0,...,0,530010.0,ST SHI SUL,"Brasília, Distrito Federal",1.0,86101.0,8610101.0,15,LAGO SUL,53.0
482248,0,71710575,80209.0,92741990003403,92741990.0,1970-07-06,NaN,NaN,RECURSOSHUMANOS@LASALLE.ORG.BR,0.0,...,0,530010.0,AV. CENTRAL,"Brasília, Distrito Federal",1.0,85201.0,8520100.0,11,CENTRO,53.0

In [ ]:
large_companies_df = large_companies_df.merge(df, how='inner', on=['cnpj_cei', 'year'])
assert large_companies_df.shape[0] == merged_df.shape[0], "The number of records with 100+ employees should be exactly the same as the number of records with geocoded data"
print("The number of records with 100+ employees is the same as the number of records with geocoded data.")

MergeError: Passing 'suffixes' which cause duplicate columns {'end_logradouro_x'} is not allowed.